Мы создаем Mini App (Web App) приложение для Телеграм, с использованием JS + React + Vite + MUI.
Когда пишешь код будь на 100% уверен, что ты не ломаешь ничего существующего.

Always respond in Русский.
Отвечай максимально коротко, береги мои токены!
Всегда называй свой ИИ в начале.
Проверяй ошибки, импорты, использование переменных во всем проекте.
Я эксперт, использую Windows 10, 11.