.twa-container {
  min-height: 100vh;
  background-color: var(--tg-theme-bg-color, #313030);
}

.twa-header {
  margin-bottom: 24px;
}

.twa-page {
  padding: 16px;
  background-color: var(--tg-theme-bg-color, #313030);
}

.twa-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--tg-theme-bg-color, #313030);
}

.twa-title {
  margin: 0 0 5px 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
  font-size: 1.2rem !important;
  font-weight: 500;
  height: fit-content !important;
  color: var(--tg-theme-text-color, #939292);
  text-align: center;
  display: block;
  min-height: 0;
  max-height: fit-content;
  transform: scale(0.95, 0.95);
  transform-origin: center;
}

.twa-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--tg-theme-bg-color, #cad3dc);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.twa-form-label {
  font-size: 14px;
  color: var(--tg-theme-hint-color, #3d3d3d);
}

/* Общие стили кнопок */
.twa-button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twa-button-primary {
  background-color: var(--tg-theme-button-color, #2481cc);
  color: var(--tg-theme-button-text-color, #ffffff);
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
}

.twa-button-secondary {
  background-color: var(--tg-theme-secondary-bg-color, #f0f0f0);
  color: var(--tg-theme-text-color, #000000);
  width: 36px;
  height: 36px;
}

.twa-button:hover {
  opacity: 0.9;
}

.twa-button:active {
  opacity: 0.8;
}

.twa-form-group {
  margin-bottom: 16px;
}
