.twa-content button {
  width: 100%;
  margin-top: 5px;
}

.twa-page {
  background-color: var(--tg-theme-bg-color, #17212b) !important;
}

.twa-content {
  background-color: var(--tg-theme-bg-color, #17212b) !important;
}

.twa-title {
  color: var(--tg-theme-text-color, #fff);
  background: transparent;
}

.twa-content button {
  background-color: var(--tg-theme-secondary-bg-color, #232e3a) !important;
  color: var(--tg-theme-text-color, #fff) !important;
  border: 1px solid var(--tg-theme-hint-color, #7da2c1) !important;
}
